.demo-bar {
  position: fixed;
  bottom: 90px;
  right: 0px;
}

.demo-bar ul {
  margin: 0;
  padding: 0;
  list-style: none;
  display: block;
  border: 1px solid grey;
  border-radius: 6px 0 0 6px;
}

.demo-bar ul {
}

.demo-bar ul li {
  display: block;
  height: 3em;
  line-height: 3em;
  text-align: center;
  background-color: rgba(200,200,200,0.3);
  padding: 0 .5em;
  cursor: pointer;
}

.demo-bar ul li:hover,
.demo-bar ul li.deactivated {
  background-color: rgba(200,200,200,0.7);
  text-decoration: line-through;
}
