body {
  margin: 0;
  padding: 0;
}

.header-wrapper {
  background-color: #fff;
  border-bottom: 1px solid #eee;
  margin-bottom: 20px;
}

.main-header {
  width: 640px;
  max-width: 100%;
  display: flex;
  justify-content: space-around;
  align-items: center;
  padding: 0 20px;
  margin: 0 auto;
}

.main-header .logo {
  background: transparent url('instagramLogo.png') no-repeat top left;
  background-size: 112px 35px;
  text-indent: -1000px;
}


.main-header a:visited {
  color: blue;
}
