.main-header {
  width: 640px;
  max-width: 100%;
  display: flex;
  justify-content: space-around;
  align-items: center;
  padding: 0 20px;
}

.main-header .logo {
  background: transparent url('instagramLogo.png') no-repeat top left;
  background-size: 112px 35px;
  text-indent: -1000px;
}
