* {
   box-sizing: border-box;
}

html {
   background: #FAFAFA;
   font-family: 'Montserrat', sans-serif;
   font-weight: 400;
}

body {
  margin: 0;
  padding: 0;
}

section {
   width: 640px;
   max-width: 100%;
   margin: 0 auto 20px auto;
}

article {
   background: white;
   border: 1px solid #edeeee;
   border-radius: 3px;
}

/* Header Styles */
.header-wrapper {
  background-color: #fff;
  border-bottom: 1px solid #eee;
  margin-bottom: 20px;
}

.main-header {
  width: 640px;
  max-width: 100%;
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 0 20px;
  margin: 0 auto;
}

.main-header .logo {
  background: transparent url('images/instagramLogo.png') no-repeat top left;
  background-size: 112px 35px;
  text-indent: -99999px;
}


.main-header a:visited {
  color: blue;
}


header {
    height: 64px;
    padding: 14px 20px;
}

.centerVertical > *
{
   display: inline-block;
   vertical-align: middle;
}

.leftSide {
   width: 90%
}

.rightSide{
   width: 8%;
   text-align: right;
}

.userIcon {
    height: 40px;
    width: 40px;
    border-radius: 50%;
    border: 1px solid #cccfd0;
}

.user {
   color: #125688;
   font-size: 14px;
   font-weight: 700;
   text-decoration: none;
}

.timestampHolder {
   float: right;
}

.timestamp {
   float: right;
   padding-top: 8px;
   color: #a5a7aa;
   text-decoration: none;
}

.image {
   width:100%;
}

.horizontalPadded {
   padding: 0 20px;
}

.verticalPadded {
   margin: 16px 0;
}

.comments {
  line-height:1.75em;
}

.feedback {
   border-top: 1px solid #eeefef;
   margin-top: 9px;
   padding-top: 4px;
   height: 48px;
}

.likeButton {
   width: 15%;
}

.commentCreator {
   width: 80%;
   padding-left:10px;
}

.commentCreatorInput {
   height: 40px;
   width: 100%;
   background: 0 0;
   border: none;
   outline: none;
}

.video {
  cursor: pointer;
}

/* Footer Styles */
.footer {
  padding: 40px 0;
  background-color: white;
  text-align: center;
  font-size: .8em;
}
